/ejb-stateful-calc/nbproject/private/
/ejb-stateful-calc/ejb-stateful-calc-war/nbproject/private/
/ejb-stateful-calc/ejb-stateful-calc-ejb/nbproject/private/
/ejb-stateful-calc/ejb-stateful-calc-ejb/build/
/ejb-stateful-calc/ejb-stateful-calc-war/build/
/ejb-stateful-calc/ejb-stateful-calc-ejb/dist/
/ejb-stateful-calc/dist/
/ejb-stateful-calc/build/
/ejb-stateful-calc/ejb-stateful-calc-war/dist/
/StatefulCalc/nbproject/private/
/StatefulCalc/StatefulCalc-war/nbproject/private/
/StatefulCalc/StatefulCalc-ejb/nbproject/private/
/StatefulCalc/StatefulCalc-war/build/
/StatefulCalc/StatefulCalc-war/dist/
/StatefulCalc/StatefulCalc-ejb/dist/
/StatefulCalc/StatefulCalc-ejb/build/
/StatefulCalc/dist/
/StatefulCalc/build/